*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 1vh = 9px */
    background: url('image.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.Login{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0,0,0,5);
    color: rgb(255,255,255);
    border-radius: 10px;
    padding: 30px 40px;
}

.Login h1{
    font-size: 40px;
    text-align: center;

}

.Login .box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box input::placeholder{
    color: #fff;
}

.box i{
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    font-size: 20px;
}

.Login .forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px 0;

}
.forgot label input{
    accent-color: green;
    margin: 0 3px 0 3px;
}

.forgot a{
    text-decoration: none;
    color: #fff;
}

.forgot a:hover{
    color: blue;
    text-decoration: underline;
}

.Login button{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.Login button:hover{
    color: blue;
}


.Login .registration{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;

}

.registration p a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

.registration p a:hover{
    color: blue;
    text-decoration: underline;
}
